.side
  .side-top
    .side-top-box
      .side-top-box-center
        .side-top-box-center-left Taka
        .side-top-box-center-right
          .side-top-box-center-right-icons
            .side-top-box-center-right-icons-user
            =link_to '#' do
              =icon('fas','edit',class:'icon')
            .side-top-box-center-right-icons-groups
            =link_to '#' do
              =icon('fas','cog',class:'icon')
  .side-list
    .side-list-group
      .side-list-name techcamp
      .side-list-message まだメッセージがありません
    